pkgbase = mkchromecast-git
	pkgdesc = Cast Audio/Video to your Google Cast and Sonos Devices
	pkgver = r1213.c046ba2f
	pkgrel = 1
	url = http://mkchromecast.com
	arch = any
	license = MIT
	depends = faac
	depends = flac
	depends = lame
	depends = python-flask
	depends = python-gobject
	depends = python-psutil
	depends = pulseaudio-dlna
	depends = sox
	depends = vorbis-tools
	optdepends = alsa-utils: to cast with ALSA
	optdepends = ffmpeg: for ffmpeg backend (which is also needed to cast with ALSA)
	optdepends = gstreamer: for gstreamer backend
	optdepends = pavucontrol: for parec backend or just to cast with PulseAudio
	optdepends = pulseaudio: for parec backend or just to cast with PulseAudio
	optdepends = python-pychromecast: to cast to Chromecast devices
	optdepends = python-pyqt5: for system tray menu support
	optdepends = python-soco: to cast to Sonos devices
	optdepends = youtube-dl: for --youtube
	provides = mkchromecast
	conflicts = mkchromecast
	options = !emptydirs
	source = git+https://github.com/muammar/mkchromecast.git
	md5sums = SKIP

pkgname = mkchromecast-git
